<div class="container">
  <div>
    <header>Payment Form </header>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Payee Name</label>
      <input class="form-control" (input)="onNameChange($any($event.target).value)" type="text" id="">
    </div>

    <div class="col">
      <label for=""><b>Name</b></label>
      <div>
        {{name | titlecase}}
      </div>

    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Payment Date </label>
      <input class="form-control" (input)="onDateChange($any($event.target).value)" type="date" id="">
    </div>

    <div class="col">
      <label for=""><b>Received Date</b></label>
      <div>
        {{date | date: 'MMMM - d- y' }}
      </div>

    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Amount </label>
      <input class="form-control" (input)="onAmountChange($any($event.target).value)" type="text" id="">
    </div>

    <div class="col">
      <label for=""><b>Amount Received</b></label>
      <div>
        {{amount | currency: 'DKK '}}
      </div>

    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Height </label>
      <input class="form-control" (input)="onHeightChange($any($event.target).value)" type="text" id="">
    </div>

    <div class="col">
      <label for=""><b>Height </b></label>
      <div>
        {{height | number: '1.1-3' }} cm
      </div>

    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for=""> Miles </label>
      <input class="form-control" (input)="onMilesChange($any($event.target).value)" type="text" id="">
    </div>

    <div class="col">
      <label for=""><b>Kilometres </b></label>
      <div *ngIf="(miles | convert : 'km') > 10">
        {{ miles | convert : 'km' | number: '1.0-3'}} 
      </div>

    </div>
  </div>



</div>